<h1>this is the link to visit pinterest site</h1>
<%= link_to "connect pinterest", "https://www.pinterest.com/oauth/?client_id={YOUR_CLIENT_ID}&redirect_uri={YOUR_REDIRECT_URI}&response_type=code&scope=boards:read,pins:read"%>

<%= link_to 'create post', new_post_path %>